<!DOCTYPE html>

<%- include("AdminHeader.ejs") %>

<body>
    <h1  class="title">Listado de Ventas </h1>
    <!--Tabla-->
    <div class= "container-lg">
        <table class="table table-striped table-bordered"  id = "sortTable">
                <thead>
                  <tr>
                    <th scope="col">Codigo Compra</th>
                    <th scope="col">Comprador</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < ventas.length; i++) { %>
                        <tr>
                            <td><%= ventas[i].idCompra %></td>
                            <td><p><%= ventas[i].cliente %></p></td>
                            <td><%= ventas[i].producto %></td>
                            <td><%= ventas[i].cantProducto %></td>
                            <td>$<%= ventas[i].monto %></td>
                            <td><%= ventas[i].direccionEntrega %></td>
                            <td><%= ventas[i].fecha %></td>
                            <td>
                              <input class="form-check-input me-1" type="checkbox" value="1" >
                                Entregado
                            </td>
                        </tr>
                    <% } %>
                </tbody>
              </table>
        </div>