<!DOCTYPE html>

<%
var producto = {
    "idProducto": -1,
    "descripcion": "No encontrada",
    "ruta_img": "",
    "nombre": "No encontrada",
    "precio": 0,
    "stock": 0,
    "descuento": 0
};

if(locals[0]){

    producto = locals[0];


}

%>

<head>
  <!--Styles-->
    <link rel="stylesheet" href="css/stylesInfo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="module" src ='../js/prodCarrito.js'></script>

    <script>

      let prod = {
        id: <%=producto.idProducto%>,
        nombre:' <%= producto.nombre%>',
        descripcion: '<%= producto.descripcion%>',
        ruta_img: '<%= producto.ruta_img%>',
        precio: <%= producto.precio%>
      }

      function agregarCarrito() {

        if(!prod){

          console.log('No existe producto.');
          return;

        }

        const carrito = new Carrito;

        console.log(carrito);

        carrito.agregar(prod)

      }

    </script>

    <!--Responsive celular-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

    <title><%=producto.nombre%></title>

</head>

<body>
  <!--NavBar-->
  <%- include("GeneralHeader.ejs") %>

  <!--Product page-->
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-body">
                <div class="row">
                <div class="col-12 col-md-6">
                    <img src=<%= `${producto.ruta_img.startsWith('./') ? '.' : ''}${producto.ruta_img}` %> class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-12 col-md-6">
                    <h1><%=producto.nombre%></h1>
                    <p><%=producto.descripcion%></p>
                    <p>Precio: <%=producto.precio%></p>
                    <p>Stock: <%=producto.stock%></p>
                    <p>Descuento: <%=producto.descuento%></p>
                    <p>Cantidad: <input type="number" id="cantidad" value="1" min="1" max="<%=producto.stock%>"></p>
                    <input type='hidden' id='prodID' value=<%=producto.idProducto%>>
                    <% if(producto.idProducto != -1){%>
                      <button id="carro" type="button" class="btn btn-warning btn-sm mt-1">Añadir al carro<i
                        class="icon ion-md-cart"></i> <i class="icon ion-md-add"></i></button>
                    <%}%>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!--Comment section-->

    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-body">
                <h1>Comentarios</h1>
                <div class="row">
                  <div class="col-12 col-md-6">
                      <form action="/comentar" method="POST">
                      <div class="form-group">
                          <input type="hidden" class="form-control" id="idOpinion" name="idOpinion" value=<%=Math.floor(Math.random() * 10000)%>>
                      </div>
                      <div class="form-group">
                        <input type="hidden" class="form-control" id="idCliente" name="idCliente" value=0>
                      </div>
                      <div class="form-group">
                        <input type="hidden" class="form-control" id="idProducto" name="idProducto" value=<%=producto.idProducto%>>
                      </div>
                      <div class="form-group">
                        <input type="hidden" class="form-control" id="valoracion" name="valoracion" value=5>
                      </div>
                      <div class="form-group">
                          <label for="comentario">Comentario</label>
                          <textarea class="form-control" id="comentario" name="comentario" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Comentar</button>
                      </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6" id="comentarios">
                    <script defer>

                      const params = new URLSearchParams();
                      params.append('id', '<%=producto.idProducto%>');
                      axios.post('/comentarios',params).then( res => {

                        let comentarios = res.data;

                        for(let i = 0; i < comentarios.length; i++){
                          let comentario = comentarios[i];
                          let valoracion = comentario.valoracion;
                          let comentario_texto = comentario.comentario;

                          document.getElementById('comentarios').innerHTML += (`
                            <br>
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">${valoracion}</h5>
                                <p class="card-text">${comentario_texto}</p>
                              </div>
                            </div>
                          `);
                        }

                      });


                    </script>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>

  
    
</body>
